@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  
}

#__next {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #050718;
  tailwind: bg-slate-800;
  font-family: 'Inter', sans-serif;
}
.landing-title {
  @apply font-extrabold text-6xl text-center tracking-tight;
  line-height: 84px;
  font-size: 64px;
  font-weight: 800;
  letter-spacing: -0.03em;
  text-align: center;
  background: linear-gradient(125.86deg, #3cefcf 63.2%, #2c50f5 87.51%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typing-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  display: inline-block;
  margin-left: 2px; /* Adjust as needed */
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}



.animated-background {
  animation: gradientBackground 10s ease infinite;
  background: linear-gradient(45deg, #6654de, #14F195);
  background-size: 400% 400%;
}





.beacon {
  background: 
    /* Horizontal line (make thicker by increasing the second value of background-size) */
    linear-gradient(to bottom, rgba(102, 84, 222, 0) 50%, rgba(102, 84, 222, 0.3) 50%) no-repeat, 
    /* Glowing semicircle (make smaller by reducing the percentage in radial-gradient) */
    radial-gradient(at bottom, #14F195 10%, transparent 60%) no-repeat; 
  background-size: 100% 5px, 100% 100%; /* Size for line (thickness) and semicircle (smaller glow) */
  background-position: center bottom; /* Positioning at the bottom */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.center-glow {
  background: 
    /* Glowing effect from the center */
    radial-gradient(circle at center, #6654de 20%, transparent 80%) no-repeat;
  background-size: 80% 80%; /* Size for radial glow */
  background-position: center; /* Centering the gradient */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
/* Add these styles to your global.css or within a <style> tag in your component */
.dao-section {
  @apply bg-blue-900 py-12 text-white;
}

.dao-info {
  @apply text-lg;
}


.btn-primary {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

/* Remember to adjust colors and padding to match your design system */

/* InfoSection.css */
.dao-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.tabs {
  margin-right: 2rem;
}

.tab-button {
  background: transparent;
  border: 1px solid #FFF;
  padding: 1rem;
  width: 100%;
  text-align: left;
  color: #FFF;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 0.5rem;
}

.tab-button:hover{
  background-color: rgb(132, 132, 132);
  color: #000;
}

.tab-button.active {
  background-color: rgb(255, 255, 255);
  color: #000;
}

.content-area {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card {
  background-color: #FFF;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}

.tab-content {
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #000;
  color: #FFF;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #333;
}

